<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Request sent for approval: <%= @request.org_name %></h1>
    <p>Your request for request <strong><%= @request.org_name %></strong> to be made under CSM has been made. We are now looking to approving the charity's validity for our servers.</p>

    <p>Once your charity is approved, you'll be sent another email at this address which you will need to follow in order to set up your charity. Expect a timely response within 5 working days.</p>
  </body>
</html>