<div id="site-masthead">
	<h1 class="masthead-header"><%= link_to @charity.org_name, charity_path( @charity ) %></h1>
	<h3 class="masthead-header header-alt">New Page</h3>
	<img class="site-logo" src="http://placehold.it/150x150" alt="Site logo" />
</div>

<div class="container">
	<div class="row">
		<div class="col col1 col-md-9"> 
			<%= render "form" %>
		</div>
		<div class="col col2 col-md-3">

		</div>
	</div>
</div>