<div class="row">
  <div class="col col1 col-md-9">
    <% @charities.each do |charity| %>

    <div class="charity-summary">
      <div class="row">
        <div class="col1 col-md-3">
          <img class="site-logo" src="http://placehold.it/150x150" alt="Site logo" />
        </div>
        <div class="col2 col-md-8">
          <h4><%= charity.org_name %></h4>

          <p>The owner has not configured their charity description yet. You should still visit their page by clicking the button below.</p>

          <%= link_to "Visit Page", charity_path( charity ), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <% end %>
  </div>
  <div class="col col2 col-md-3">
    <h3>Register your domain now</h3>

    <p>It's easy to set up your own charity. Click the link below to begin setting up your domain for your charity. It only takes a few steps to have your website up and running.</p>

    <%= link_to "Regiser now", register_path, class: "btn btn-embossed btn-primary" %>
  </div>
</div>