<h1 id="site-title">Charity System Manager</h1>

<p id="site-slogan">Create and manage your own charity websites.</p>

<form id="signup-shortcut" action="register_charity" method="GET">
	<input type="text" name="domain" class="form-control input-hg" placeholder="Enter the name of your charity here" spellcheck="false" />
</form>