// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require site
 */

.post-summary {
	color: #AAA;
	font-size: 1.2em;
	font-style: italic;
	border-bottom: 1px dashed #EEE;
	display: inline;
}

#blog-posts {
	.blog-post {
		padding-bottom: 1em;
		border-bottom: 1px solid #EEE;
	}

	.summary {
		height: 100px;
	}
}