html, body {
    background: image-url('main-bg.jpg');
    background-position: fixed;
}

h1, h2, h3, h4, h5, h6,
p#site-slogan, input, button,
nav.navbar-default ul.nav li a {
	color: #FFF;
} 

nav.navbar-default a.navbar-brand {
	color: #1abc9c;
}

header {
    nav.navbar-default {
        display: block;
        margin: 0.2em auto;
        width: 90%;
        background: transparent;
        border-radius: 0;
        border-bottom: 1px solid rgba( 180, 180, 180, 0.5 );
    }
}

#site-wrap {
    display: block;
    margin: 0 auto;
    width: 80%;

    .wrap-text {
        display: block;
        margin: 0.4em auto;
        text-align: center;
        color: #FFF !important;
        text-shadow: 1px 1px 6px #222;
    }

    dl {
        background: rgba( 250, 250, 250, 0.925 );
        padding: 2em;
        border-radius: 4px;
    }

    img.wrap-text {
        max-width: 150px;
    }

    h1#site-title {
        margin-top: 1em;
    }

    p#site-slogan {
        font-style: italic;
    }

    a#start-btn {
        display: inherit;
        width: 250px;
        margin: 2em auto;
        text-shadow: 1px 1px 6px #222;
    }

    form {
        display: block;
        margin: 2em auto;
        width: 50%;

        input {
            color: #FFF !important;
            text-align: center;
            background: transparent !important;   
        }
    }
}

form {
    input, button {
        color: #FFF !important;
        background: transparent !important;
    }
}