<% content_for :head do %>
<%= javascript_include_tag "donate_form" %>
<% end %>

<div class="page-header">
	<h3>Help them out, donate!</h3>
</div>

<p>Every cent helps this charity better its cause but needs people like you for support. So please, donate what you can to help better this charity and its cause.</p>

<%= form_for charity_charges_path( @charity ) do |f| %>
	<div class="well">
	  <div id="slider" class="ui-slider">
	  	<span class="text-primary ui-slider-value first">&euro;2.00</span>
	  	<span class="ui-slider-value last">&euro;50.00</span>
	  </div>
	</div>

	<%= f.label :amount, "Or enter a custom amount here" %>
	<%= f.text_field :amount, class: "form-control", placeholder: "Enter custom amount" %><br />

	<button type="button" id="charge_submit_btn" class="btn btn-hg btn-embossed btn-primary">Donate</button>

  <script src="https://checkout.stripe.com/checkout.js"></script>
<% end %>